# Node.js
backend/node_modules/
backend/.env
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# Flutter / Dart
frontend/.dart_tool/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.idea/
frontend/.metadata
frontend/.vscode/
frontend/build/
frontend/ios/Pods/
frontend/pubspec.lock

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Other
.env
